body {
  text-align: center;
  font-family: "Lexend Exa", sans-serif;
  background: linear-gradient(to top, #dfe9f3 0%, white 100%);
}
h1 {
  font-size: 20px;
  font-weight: 200;
}
h2 {
  font-size: 40px;
  font-weight: 400;
  font-family: "Rubik Mono One", sans-serif;
}
h3 {
  font-size: 20px;
  font-weight: 200;
}
.skills {
  list-style: none;
  text-align: center;
}

:root {
  --primary-color: black;
  --background: #fdf0e5;
  --text-align: center;
}
#main-button {
  background: var(--background);
  border: none;
  padding: 20px 20px;
  margin: 60px 10px;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.1);
  color: brown;
  font-weight: 550;
}
.name {
  color: var(--primary-color);
  text-align: var(--text-align);
  padding: 150px 10px;
}

.origin {
  padding: 10px;
  display: flex;
  justify-content: space-between;
}

.row {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px 5px;
}
.project {
  display: block;
  background: #fff;
  /* background: rgb(247, 243, 233); */
  color: rgb(130, 33, 33);
  border: none;
  font-weight: bold;
  margin: 0 auto;
  padding: 10px 20px;
  border-radius: 5px;
  transition: 0.3s;
}
.project:hover {
  background-color: #b9684d;
  color: #fff;
}
.linkWork {
  text-decoration: none;
}
.myPicture {
  display: block;
}
#my-email {
  text-decoration: none;
  color: rgb(39, 3, 3);
  font-size: 15px;
}
.mainBody {
  margin-top: 100px;
}

.contactMain {
  font-family: "Lexend Exa", sans-serif;
  font-size: 20px;
  line-height: 1;
  background: #fff;
  display: block;
}
.contactMain h1 {
  font-size: 25px;
  text-align: center;
  font-family: "Rubik Mono One", sans-serif;
  margin-bottom: 70px;
}
.contactMain h2,
h3,
h4 {
  font-family: "Lexend Exa", sans-serif;
  font-size: 20px;
  font-weight: bold;
  line-height: 2;
  margin-top: 20px;
}
.contactMain a {
  text-decoration: none;
  color: rgb(7, 7, 129);
}
.contactMain a:hover {
  color: rgb(183, 11, 183);
}
.contactBody {
  background: #fff;
}
.contactImg {
  padding-top: 100px;
  display: block;
  margin: 0 auto;
}
.workPage h1 {
  font-size: 30px;
  text-align: center;
  font-family: "Rubik Mono One", sans-serif;
}
.workBlock {
  display: block ;
  margin-bottom: 30px;
}
.workText {
  text-align: justify;
}
footer {
  margin-bottom: 20px;
  margin-top: 200px;
  font-size: 15px;
}
footer h1 {
  font-size: 15px;
  font-family: "Rubik Mono One", sans-serif;
}
footer a {
  text-decoration: none;
  color: #b9684d;
  line-height: 1.4;
}
footer i {
  font-size: 25px;
  padding: 20px;
}

.code {
  text-decoration: none;
  padding: 20px;
}
.navbar {
  font-weight: 600;
  background: linear-gradient(to bottom, #dfe9f3 0%, white 100%);
}
.navbar .active {
  font-weight: bolder;
  text-decoration: underline;
}
.work {
  padding: 70px 20px;
}
.btn-branding {
  border: 1px solid black;
}
.btn-branding:hover {
  background: #f4dbd2;
}
@media (max-width: 900px) {
.myPicture {
    width: 400px;
  }
}
@media (max-width: 600px) {
  .styleSite,
  .weatherSite {
    display: none;
  }
  h2 {
    font-size: 20px;
  }
  h1,
  h3 {
    font-size: 20px;
  }
  .name {
    padding-top: 30px;
  }
  .myPicture {
    width: 300px;
    margin-top: 80px;
  }
  .contactMain {
    font-size: 12px;
  }
  footer {
    margin-top: 10px;
    font-size: 12px;
  }
  footer h1 {
    font-size: 13px;
  }
}
